name: ci

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2.3.4
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1.2.0
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1.6.0
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v1.10.0
        if: github.ref == 'refs/heads/master'
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: base
        run: make base
      -
        name: unit-tests
        run: make unit-tests
      -
        name: codecov
        uses: codecov/codecov-action@v3
        with:
          files: ./_out/coverage.txt
      -
        name: unit-tests-race
        run: make unit-tests-race
      -
        name: lint
        run: make lint
      -
        name: runtime
        run: make runtime
      -
        name: image-runtime
        run: make image-runtime
      -
        name: push-image-runtime
        if: github.ref == 'refs/heads/master'
        env:
          PUSH: "true"
        run: make image-runtime
      -
        name: push-image-runtime-latest
        if: github.ref == 'refs/heads/master'
        env:
          PUSH: "true"
        run: make image-runtime TAG=latest
